<!--<li class="widget js-grid-item">
    <a>
	<img class="widget_img" src="{{ url }}">
    </a>
</li>-->
<!--  -->
<li class="widget js-grid-item">
    <div class="card widget_inner">
        <img class="card-img" src="{{ url }}" alt="カードの画像">
        <div class="card-img-overlay widget_text text-white">
            <h5 class="card-title">{{ tweet.user.name}}@{{  tweet.user.screen_name }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
            <a class="btn btn-primary" href="https://twitter.com/{{ tweet.user.screen_name }}/status/{{ tweet.id }}" target="_blank">Twitterで見る</a>
            <p class="card-text"><small>{{ tweet.created_at }}</small></p>
        </div>
    </div>
</li>