<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@kamie_album" />
<meta name="twitter:title" content="Kamie Album" />
<meta name="twitter:description" content="Twitterでいいねした大切な画像を振り返るためのサービス" />
<meta name="twitter:image" content="https://kamie-album.herokuapp.com/static/favs/img/mark_heart.png" />

<meta property="og:title" content="Kamie Album">
<meta property="og:description" content="Twitterでいいねした大切な画像を振り返るためのサービス">
<meta property="og:url" content="https://kamie-album.herokuapp.com">
<meta property="og:image" content="https://kamie-album.herokuapp.com/static/favs/img/mark_heart.png">