{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- For Twitter Card -->
        {% include 'favs/_twitter_card.html' %}

        <meta name="keywords" content="Twitter,ツイッター,ふぁぼ,いいね,画像,連携,管理">
        <meta name="description" content="Kamie AlbumはTwitterでいいねした大切な画像ツイートを一覧できるサービスです。いいねのしすぎで大好きな画像を遡れなくなる方、数年前まで違うジャンルにハマっていた方などにおすすめです。"

        <link rel="shortcut icon" href="{% static 'favs/img/icon.png' %}" type="image/png">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108933557-3"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-108933557-3');
        </script>

		<link rel="stylesheet" type="text/css" href="{% static 'favs/css/cssreset-min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'favs/css/style.css' %}">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <!-- <script src="{% static 'favs/js/jquery-3.2.1.slim.min.js' %}"></script> -->

        <!-- Masonry.js -->
        <!-- <script src="{% static 'favs/js/masonry.pkgd.min.js' %}"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"></script>

        <!-- Font Awesome -->
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <script src="{% static 'favs/js/main.js' %}"></script>

		{% block head %}{% endblock %}
		<title>{% block title %}{% endblock %} | Kamie Album</title>

    </head>

    <body>
        <div class="container-fluid p-0">
		{% include 'favs/_header.html' %}

		<main id="main">
		    {% block main %}{% endblock %}
		</main>

		{% include 'favs/_footer.html' %}
        </div> 
    </body>    
</html>
