{% extends 'favs/layout.html' %}

{% block head %}{% endblock %}

{% block title %}Save{% endblock %}

{% block main %}
<div class="article-area">
    {% for content in contents %}
        {% include 'favs/_article.html' %}
    {% endfor %}
</div>

<div class="link_btn">
    <p class="text-normal text-center">
        <a href="{% url 'favs:save_tweet' tweet_id=tweet_id %}"><button type="button" class="btn btn-default btn-success btn-lg">登録する</button></a>
    </p>
    <p class="text-normal text-center">
        <button type="button" class="btn btn-default btn-warning btn-lg" onClick="window.close()">もとのページに戻る</button>
    </p>
</div>

{% endblock %}