{% extends 'favs/layout.html' %}

{% block head %}{% endblock %}

{% block title %}Show{% endblock %}

{% block main %}
{# <p>USER ID: {{ user_id }}</p> #}

{% include 'favs/_pagination.html' with urls=urls %}

<div class="widget_area">
    <ul class="widgets js-grid">
 	{% for tweet in tweets %}
        {% if is_pc %}
            {% include 'favs/_tweet_img.html' %}
        {% else %}
            {% include 'favs/_tweet.html' %}
        {% endif %}
	{% endfor %}
    </ul>
</div>

{% include 'favs/_pagination.html' with urls=urls2 %}

<div class="social-area">
    {% include 'favs/_twitter_btn.html' %}
</div>

<script> 
 $(window).on('load', function(){
     setTimeout(function(){
	 $('.js-grid').masonry({
	     columnWidth: 160,
	     fitWidth: true,
	 });
     }, 500);
 });

 $(function(){
    const toggleOpacity = function(){
        let opacity = $(this).css('opacity');
        if(opacity >= 0.5){
            opacity = 0;
        }else{
            opacity = 1;
        }
        $(this).css('opacity', opacity);
    };
    const hideDOM = function(){
        $(this).css('opacity', 0);
    };
    const showDOM = function(){
        $(this).css('opacity', 1);
    };


     $('.widget_text').on({
        'click': toggleOpacity,
        'mouseover': showDOM,
        'mouseout': hideDOM
    });
 });


</script>
	
{% endblock %}
