{% extends 'favs/layout.html' %}

{% block head %}{% endblock %}

{% block title %}Show{% endblock %}

{% block main %}
{# <p>USER ID: {{ user_id }}</p> #}

{% include 'favs/_pagination.html' with urls=urls %}

<div class="widget_area">
    <ul class="widgets js-grid">
 	{% for tweet in tweets %}
        {% if is_pc %}
            {% include 'favs/_tweet_img.html' %}
        {% else %}
            {% include 'favs/_tweet.html' %}
        {% endif %}
	{% endfor %}
    </ul>
</div>

{% include 'favs/_pagination.html' with urls=urls2 %}

<div class="social-area">
    {% include 'favs/_twitter_btn.html' %}
</div>

{% endblock %}
