{% extends 'favs/layout.html' %}

{% block head %}{% endblock %}

{% block title %}Show{% endblock %}

{% block main %}
{# <p>USER ID: {{ user_id }}</p> #}

{% load util_tags %}

{% create_flash_message %}

{% create_paginator %}

{% if not tweets|length_is:"0" %}
<div class="widget_area">
    <ul class="widgets js-grid">
    </ul>
    <ul class="js-grid-backyard">
    {% for tweet in tweets %}
        {% if is_pc %}
            {% include 'favs/_tweet_img.html' %}
        {% else %}
            {#{% include 'favs/_tweet.html' %}#}
            {% include 'favs/_tweet_img.html' %}
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endif %}

{% create_paginator %}

<div class="social-area">
    {% create_tweet_btn %}
    {#{% include 'favs/_twitter_btn.html' %}#}
</div>

{% endblock %}
