/* For media query */
$breakpoints: (
  'sm': 'screen and (max-width: 399px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/* -------- start CSS -------- */

$tw-bg: #E6ECF1;
$white-bg: #f5f5f5;

.sp {
    display: none;
}

@include mq() {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}

/* fix footer on the bottom */
$footer_height: 2em;
html {
    min-height: 100%;
    position: relative;
    background-color: $white-bg;
}
body {
    background-color: $white-bg; // override Bootstrap bg;
    margin-bottom: $footer_height;
}
#footer {
    bottom: 0;
    height: $footer_height;
    position: absolute;
}

/* ------------------------ */

.widgets {
    list-style: none;
    margin: 0 auto;
    padding: 10px 0;

}
.widget {
    box-sizing: border-box;
    width: 320px;
    padding: 10px 10px;

    margin: 0 auto;

    /* kill default margin */
    & twitterwidget {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .js-fav-border {
        box-shadow: 0 0 4px 4px #dd9dbf;
    }

    .widget_text {
        background-color: rgba(0, 0, 0, 0.7);
        min-height: 100%;
        border-radius: 3px;
        //display: none;

        opacity: 0;
        bottom: 0;
        overflow: hidden;
        transition: all 0.2s;
        .widget_btn {
            display: none;
        }

        &.show {
            opacity: 1;
            bottom: auto;
            z-index: 1; /* 文字が次の画像にかぶった時文字を優先するように */

            .widget_btn {
            display: inline-block;
        }
    }

    }
}
.js-grid-backyard {
    display: none;
}

$tw-blue: #55acee;


#footer {
    background-color: $tw-blue;
    text-align: center;
    color: #ffffff;
    width: 100%;
}

#navbar {
    background-color: $tw-blue;
    //border-bottom: 2px solid rgba(0, 0, 0, 0.15);
    //border-bottom: 1px solid #cccccc;
    box-shadow: 0 1px 2px #cccccc;
    .logo {
        &:hover {
            opacity: 0.8;
        }
    }
    & li {
        padding: 0 10px;
        &:hover {
            background-color: #ffffff;
            transition: 0.5s;

            & a p {
                opacity: 1;
                color: $tw-blue;
                transition: 0.5s;                
            }
        }
        & a p {
            color: #ffffff;
        }
    }
}

.white {
    color: #ffffff !important;
    opacity: 1;
}

.text-large {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
}

.menu-icon {
    font-size: 2rem;
}

.text-normal {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
}

.link_btn {
    p {
        padding: 20px 0;
    }
}
.arial {
    font-family: arial;
}

.pagination {
    padding-top: 20px;
    justify-content: center;
    & li {
        padding: 0 3px;
        & a button {
            background-color: #ffffff;
            color: $tw-blue;
            &.active {
                border-color: $tw-blue;
            }
        }
    }
}

.social-area {
    padding: 30px;
}

.twitter_btn {                                                                           
    width: 200px;                                                                        
    height: 50px;                                                                        
    //margin: 0 auto 0 auto;                                                             
    background-color: #333333;                                                           
    display: flex;                                                                       
    align-items: center;                                                                 
    justify-content: center;                                                             
    position: relative;                                                                  
    overflow: hidden;
    margin: auto;                                                                
                                                                                         
    i {                                                                                  
        color: #ffffff;;                                                                 
        display: block;
        width: 100%;
        text-align: center;                                                             
                                                                                         
        &.hover {                                                                        
            position: absolute;                                                          
            top: -50%;                                                                   
            left: 50%;                                                                   
            transform: translate(-50%,-50%);                                             
        }                                                                                
                                                                                         
    }                                                                                    
    &:hover {                                                                            
        background-color: $tw-blue;                                                 
        transition: 0.5s;                                                                
                                                                                         
        i.usual {                                                                        
            display: none;                                                               
        }                                                                                
        i.hover {                                                                        
            top: 50%;                                                                    
            transition: 0.3s;                                                            
        }                                                                                
                                                                                         
    }                                                                                    
}

.article-area {
    padding: 20px 0 0;
}

.article {
    width: 600px;
    max-width: 100%;
    margin: 0 auto 20px auto;
}
