<html>
<head>
 <title>会員トップ</title>
</head>
<body>
  <div>
    <h1>会員トップ</h1>
    <h2>request.user</h2>
    <div>
      <p>ID: {{ userid }}</p>
      <p>User Name: {{ username}}</p>
      <p>First Name: {{ first_name}}</p>
    </div>
    <h2>{{ user }}</h2>
    <div>
      <p>UserId:{{ user.access_token.user_id }}</p>
      <p>OAuthTokenSecret:{{ user.access_token.oauth_token_secret }}</p>
      <p>OAuthToken:{{ user.access_token.oauth_token }}</p>
      <p>ScreenName:{{ user.access_token.screen_name }}</p>
    </div>
    <p>
      <a href="/auth/logout"><button type="button" >ログアウト</button></a>
    </p>
    <a href="{% url 'favs:index' %}">いいねを見る</a>
  </div>
</body>
</html>